WebService/Client/Connected Services/CarInfoServiceReference/CarInfoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Translate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carInfo" type="tns:CarInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CarInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CarPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="CarDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CarMaxSpeed" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="TranslateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TranslateResult" type="tns:CarInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TranslateSoapIn">
    <wsdl:part name="parameters" element="tns:Translate" />
  </wsdl:message>
  <wsdl:message name="TranslateSoapOut">
    <wsdl:part name="parameters" element="tns:TranslateResponse" />
  </wsdl:message>
  <wsdl:portType name="CarInfoServiceSoap">
    <wsdl:operation name="Translate">
      <wsdl:input message="tns:TranslateSoapIn" />
      <wsdl:output message="tns:TranslateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarInfoServiceSoap" type="tns:CarInfoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Translate">
      <soap:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarInfoServiceSoap12" type="tns:CarInfoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Translate">
      <soap12:operation soapAction="http://tempuri.org/Translate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarInfoService">
    <wsdl:port name="CarInfoServiceSoap" binding="tns:CarInfoServiceSoap">
      <soap:address location="http://localhost:57266/CarInfoService.asmx" />
    </wsdl:port>
    <wsdl:port name="CarInfoServiceSoap12" binding="tns:CarInfoServiceSoap12">
      <soap12:address location="http://localhost:57266/CarInfoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>